<div containerStyle id="mainContainer">
    <table border="0px" cellpadding="10px" align="center" cellspacing="0px">
        <tr>
            <th>Fname</th>
            <th>Lname</th>
            <th>Mobile </th>
            <th>Courses</th>
            <th>Batch</th>
            <th>Select</th>
        </tr>
        <tr *ngFor="let student of students">
             <td>{{student.FName}}</td>
             <td>{{student.LName}}</td>
             <td>{{student.MobileNo}}</td>
             <td>{{student.Courses}}</td>
             <td><select (change)="selectChangeHandler($event)" comboBox>
                <option value="">--select--</option>
                <option value="4:00 PM">4:00 PM</option>
                 <option value="5:00 PM">5:00 PM</option>
                 <option value="6:00 PM">6:00 PM</option>
                 <option value="7:00 PM">7:00 PM</option>
                 <option value="8:00 PM">8:00 PM</option>
             </select></td>
            <td><button submitButton (click)="setResult(student.FName,student.LName,student.MobileNo)">Assign</button></td>
        </tr> 
    </table>
</div>
<app-assign-result
[fname]="FName"
[lname]="LName"
[mobileNo]="MobileNo"
[batch]="batchId"

></app-assign-result>