
table {
    display: flex;
    flex-flow: column nowrap;
    font-size: .8rem;
    margin: 0.5rem;
    min-width: 580px;
    width: 100%;
    line-height: 1.5;
    border-bottom: 1px solid #d0d0d0;
    flex: 1 1 auto;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) !important;
    
  }
  
  th {
    display: flex;
    width: 100%;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
  padding-left: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.12);
    min-width: 0px;
  }
  
   th > td {
    white-space: normal;
    justify-content: left;
  } 
  
  tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  

  td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    padding-left: 0px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0,0,0,.12);


    text-align: left !important;
    padding-left: 24px;
    border-spacing: 0;
    color: rgba(0,0,0,.78) !important;
    font-size: 14px; 
  } 
  mat-select{
    color: rgba(0,0,0,.78) !important;
     font-size: 14px !important;
}
mat-option{
    font-size: 12px !important;
    color: rgba(0,0,0,.78) !important;
}
button{
    
    height: 40px;
    display: flex;
    min-width: 0px;
    
    text-align: center !important;
}