<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<div containerStyle id="maindiv">
  <div containerHeadingBackgroundStyle><p containerHeadingStyle>Registration Form</p></div>
  <br>
 <br>
 <br>
 <br>
<div class="registrationfields" id="xyz"><label labelField [ngStyle]="upper" for="registration_fname" id="registration_fnamelabel">Firstname</label>
<input type="text" id="registration_fname" value="{{studentSelected}}" class="input" (keyup)="visible()" inputField [(ngModel)]="term"></div>
<div id="serchingDiv"  *ngIf="(isVisible==='true')" >
  <ul id="myUL" type=none >
    <li id="select" (click)="getValue(student.fname)" *ngFor="let student of students | filter:term">{{student.fname}}</li>
  </ul>
</div>

    <div class="registrationfields"><label labelField for="registration_lname" [ngStyle]="upper" id="registration_lnamelabel" class="righttextfield">Lastname</label>
      <input type="text"  value="{{students[jsonIndex].lname}}" id="registration_lname" class="input" inputField></div>

   <div class="photoSection">
      <label>
          <p id="imageChooser">&nbsp;&nbsp;Select image &nbsp;&nbsp;&nbsp;&nbsp; to Upload</p>
          <i id="uploadIcon" class="fas fa-cloud-upload-alt"></i>
      <input type="file" id="registrationphoto"  (change)="showPreviewImage($event)" class="input">
      </label>
      <img [src]="localUrl" *ngIf="localUrl">
        </div>
         <br>
        <br>
        <br>
        <br>
        <div class="registrationfields"><label labelField for="registration_fathersname" id="registration_fathersnamelabel" class="righttextfield">Father's Name</label>
          <input type="text" id="registration_fathersname" class="input" inputField></div>
          

       <div class="registrationfields"><label labelField for="registration_mobno" [ngStyle]="upper" id="registration_mobnolabel">Mobile Number</label>
       <input type="text"  value="{{students[jsonIndex].mobile}}" id="registration_mobno" class="input" inputField></div>
       <br>
       <br>
       <br>
       <br>
           <div class="registrationfields"><label labelField for="registration_course" [ngStyle]="upper" id="registration_courselabel" class="righttextfield">Course</label>
             <input type="text" value="{{students[jsonIndex].course}}" id="registration_course" class="input" inputField></div>
       
          <div class="registrationfields">
              <label labelField for="registration_email" [ngStyle]="upper" id="registration_emaillabel" class="righttextfield">Email</label>
               <input type="email" value="{{students[jsonIndex].email}}" id="registration_email" class="input" inputField></div>
               
             <br>
              <br>
              <br>
              <br>
            
                  <div class="registrationfields"><label labelField for="registration_bloodgroup" id="registration_bloodgrouplabel" class="righttextfield">Blood Group (Optional)</label>
                    <input type="text" id="registration_bloodgroup" class="input" inputField></div>
                
                    <!-- datediv -->
                 <div class="registrationfields">
                    <mat-form-field>
                      <input inputField matInput [matDatepicker]="picker" id="registration_dob" class="input" placeholder="Date Of Birth" >
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker></mat-form-field></div>
                      <!-- <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field> -->
                      
                     <div class="registrationfields">
                     <select comboBox id="batch">
                       <option disabled >--Batch--</option>
                       <option>8AM-9AM</option>
                       <option>1PM-2PM</option>
                       <option>5PM-6PM</option>
                       <option>8PM-9PM</option>
                     </select>
                                
                     </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      
                         <div class="registrationfields"><label labelField for="registration_parentsmob" id="registration_parentsmoblabel" class="righttextfield">Parents Number</label>
                           <input type="text" id="registration_parentsmob" class="input" inputField></div>
                     
                        <div class="registrationfields">
                            <label labelField for="registration_aadharcard" id="registration_aadharcardlabel" class="righttextfield">Aadhar Card Number</label>
                             <input type="text" id="registration_aadharcard" class="input" inputField></div>
                       
                             <div class="registrationfields">
                                <select  id="reference" comboBox>
                                  <option disabled>--Reference--</option>
                                  <option>Institute Student</option>
                                  <option>Others</option>
                                  cd
                                </select>
                                  
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div id="address"><label labelField [ngStyle]="upper" for="registration_address" id="registration_addresslabel">Address</label>
                                  <input type="text" value="{{students[jsonIndex].address}}" id="registration_address" class="input" inputField></div>
        
        <div id="checkcoursefee"><input type="checkbox" id="feecheckbox">Check Course Fee</div>  
      
        <table border="1" cellpadding="10" cellspacing="0" align="center" id="checkfeevariable">
        <tr>
          <th>Course Name</th>
          <th>Fee</th>
          <th>Duration(Months)</th>
        </tr>
        <tr>
         <td >
           <p id="selectedcoursename"></p>
         </td>
         <td>5000rs</td> 
         <td>2</td>  
        </tr>
      </table>
                               <br>
                                <br>
 <input id="paybtn" routerLink="payment" class="submitButton" submitButton type="button" (click)="value()" value="Proceed To Pay">
 <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
 <router-outlet></router-outlet>
</div>

