
 #maindiv{
    text-align:left!important;
    height: 655px;
    padding: 23px;
}
.input{
    width: 80%;
}
.registrationfields{
    width: 33.3%;
    float: left;
}
#address
{
    width: 100%;
}
#address input{
    width:93%;
}
select{
    width:80%!important;
}

#paybtn{
    position: relative;
    left: 40%;
    top: 39px;
}

input:focus { 
    color:red 
}
#checkcoursefee{
    position: relative;
    left: 44%;
    width: 14%;
    top: 34px;

}
table{
    position: relative;
    text-align:center;
    top:6%;
}
img{
    width: 122px;
    height: 126px;
    position: relative;
    bottom: 242px;
}
#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.photoSection{
    width: 10.3%;
    float: right;
    height: 128px;
    background: rgb(33, 150, 243);
    position: relative;
    bottom: 21px;
    right: 219px;


}
#uploadIcon{
    font-size: 35px;
    position: relative;
    left: 41px;
    color: white;
}
#imageChooser{
    color: white;
    font-size :19px; 
}
#registrationphoto
{
    width: 122px;
    height: 126px;
    position: relative;
    bottom: 20px;
    background: rgb(33, 150, 243);
    visibility: hidden;
}
#myUL li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color:white;   /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: #3F51B5; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li:hover:not(.header) {
    background-color:rgb(170, 174, 177); /* Add a hover effect to all links, except for headers */
}

@media screen and(max-width:500px)
{
.registrationfields{
  width:100%!important;  
  
}
.photoSection{
    width: 10.3%;
    float: right;
    height: 128px;
    background: red;
    position: relative;
    bottom: 21px;
    right: 219px;


}
}
mat-form-field{
    bottom: 23px;
    width: 80%;
}
#serchingDiv
{  
    display: inline!important;
    position: absolute;
    left: 73px;
    top: 163px;
    z-index: 1;
    width: 24%;

}