<div containerStyle id="container">
    <div containerHeadingStyle>
      <p fontFamilyStyle fontSizeStyle inpTxt="heading" weight="bolder">Add Faculty</p>
    </div>
    <div ngDiv id="maintain-gap" fontFamilyStyle>
      <div id="row-1">
        <div id="courseid" class="arrange margin set-width mb">
          <label for="courseid" id="courseidlabel" labelField>Course Id</label>
          <input type="text" id="courseid" inputField>
        </div>
        <div id="course-name" class="arrange margin set-width mb">
          <label for="course-name" id="course-namelabel" labelField>Course Name</label>
          <input type="text" id="course-name" inputField>
        </div>
      </div>
      <br><br><br><br>
      <div id="row-2">
          <div id="duration" class="arrange margin set-width mb">
            <label for="duration" id="durationlabel" labelField>Duration (Days)</label>
            <input type="text" id="duration" inputField>
          </div>
          <div id="course-fee" class="arrange margin set-width mb">
            <label for="course-fee" id="course-feelabel" labelField>Course Fees</label>
            <input type="text" id="course-fee" inputField>
          </div>
      </div>
      <br><br><br><br>
      <div id="row-3">
          <div id="submit-btn" class="margin mb">
              <button submitButton class="submitButton">Submit</button>
          </div>
        </div>
      <br><br><br><br>
    </div>
  </div>
  